<!DOCTYPE html>
<html>
   <head>
      <title>Hello world</title>
   </head>
   <script src="/socket.io/socket.io.js"></script>
   <script>

   </script>
   <body>
      <div>
        <a href="/"><button>Leave Room</button></a>
        <div>
            <div>
                <form action="/chat">
                    <label>Select Room</label>
                    <select id="room" name="room">
                        <option value="news">news</option>
                        <option value="covid19">covid19</option>
                        <option value="nodeJS">nodeJS</option>
                    </select>
                    <button>Select</button>
                </form>
            </div>
            <div id="message">
                <div id="display">
                    <div class="message">
                    </div>
                </div>
    
                <div>
                    <form action="/chat">
                        <input id="msg" type="text">
                        <button>Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
   </body>
</html>

